:root {
    --body-font: "Noto Sans SC", "Noto Sans TC", Arimo, Verdana, Geneva, sans-serif;
}

div.style-block {
    background-color: rgb(var(--pale-gray-monochrome));
    padding: 1px 1em;
    margin: 1em 0;
    border-radius: 0.6em;
}

div.style-block p {
    margin-top: 0.5em;
}

div.style-block h1 {
    margin: var(--base-font-size) 0;
    text-align: center;
}

div.style-block h2,
div.style-block h3 {
    display: flex;
    margin: 1em 0 0;
    align-items: flex-start;
}

div.style-block h2 span,
div.style-block h3 span {
    margin: 0;
    --wght: 700;
    font-size: var(--base-font-size);
    font-family: Recursive, "Noto Sans SC";
}

div.style-block h2::after,
div.style-block h3::after {
    content: "";
    flex-grow: 1;
    height: 0;
    margin: auto auto auto 0.75em;
    border-bottom: 1.5px solid rgb(var(--white-monochrome));
}

div.style-block ul{
    margin: 0.5em 0 2em;
    padding-left: 0;
}

div.style-block > ul:last-of-type,
div[style="margin-left: 1em;"] > ul:last-of-type {
    margin-bottom: 0;
}

div.style-block ul li {
    margin-bottom: 1em;
}

div.style-block ul li.folded,
div.style-block ul li.unfolded,
div[style="margin-left: 1em;"] ul li.folded,
div[style="margin-left: 1em;"] ul li.folded,
div[style="margin-left: 1em;"] ul li ul li.folded,
div[style="margin-left: 1em;"] ul li ul li.folded{
    margin-bottom: 0 !important;
    color: black;
}

div.style-block ul li::marker {
    font-size: 0;
}

div.style-block div.quote-block {
    background: rgb(var(--white-monochrome));
    padding: 0.1px 1em;
    margin: 1em 0;
    border-radius: 0.6em;
}

div.style-block div.quote-block p {
    margin: 1em 0;
}

div.style-block div.quote-block ul {
    margin: 1em 0 1em 1.5em;
    list-style-type: disc;
}



div.style-block div.quote-block ul li::marker {
    font-size: 1em;
}

#page-title, div.footnotes-footer { display: none }

@media only screen and (max-width: 768px) {
    div.style-block h2 span,
    div.style-block h3 span {
        font-size: calc(0.9 * var(--base-font-size));
    }
}

body div#page-options-bottom a#history-button,
body div#page-options-bottom-2 a#view-source-button,
body div#action-area form#history-form-1,
body div#action-area div.page-source {
    display: none !important;
}

ul[style="margin: 0;"],
ul[style="margin: 0;"] li {
    display: inline-flex;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

ul[style="margin: 0;"] li div.foldable-list-container a {
    color: black;
    color: rgb(var(--swatch-text-general));
    text-decoration: none !important;
    cursor: text;
}

ul[style="margin: 0;"] .folded div[style="margin: 0;"] {
    display: none;
}

ul[style="margin: 0;"] .unfolded div[style="margin: 0;"] {
    display: inline-flex;
}

ul[style="margin: 0;"] .unfolded div:first-of-type {
    display: none;
}

ul[style="margin: 0;"] .unfolded div[style="margin: 0;"]::before {
    content: "\8bf7\65f6\523b\6ce8\610f\9075\5b88\89c4\5219\ff0c\4ee5\4e0b\662f\672c\7ad9\6697\53f7\7684\7b2c\4e00\6bb5\ff1a\9ed1\6697\4e2d\6709\4e00\53cc\773c\775b";
  }


ul[style="margin: 0;"][role="listitem"] .unfolded div[style="margin: 0;"]::before {
    content: "\8bf7\65f6\523b\6ce8\610f\9075\5b88\89c4\5219\ff0c\4ee5\4e0b\662f\672c\7ad9\6697\53f7\7684\7b2c\4e8c\6bb5\ff1a\4f60\6ce8\89c6\7740\4ed6";
  }

ul[style="margin: 0;"][role="list"] .unfolded div[style="margin: 0;"]::before {
    content: "\8bf7\65f6\523b\6ce8\610f\9075\5b88\89c4\5219\ff0c\4ee5\4e0b\662f\672c\7ad9\6697\53f7\7684\7b2c\4e09\6bb5\ff1a\4f46\522b\5fd8\4e86\4ed6\4e5f\5728\6ce8\89c6\4f60";
  }

